{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Authors{% endblock %}
{% block content %}
<h2><a class="icon-author"></a> Authors</h2>
{% for idx in "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"|list %}
<h4>{{ idx }}</h4>
<ul class="ul-lists">
    {%- for author, articles in authors|sort %}
    {% if idx == author|upper|truncate(1, True, end='') %}
    <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}